.root {
  padding: 160px 0 120px;
}

.root h1 {
  border-bottom: 3px dashed #ff89fa;
  padding-bottom: 8px;
  margin-bottom: 40px;
  color: var(--dark);
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
