.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.isActive:hover {
  opacity: 0.7;
}
.hamburger.isActive .hamburgerInner,
.hamburger.isActive .hamburgerInner::before,
.hamburger.isActive .hamburgerInner::after {
  background-color: var(--white);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburgerBox {
  width: 15px;
  height: 20px;
  display: inline-block;
  position: relative;
}

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
  width: 15px;
  height: 1px;
  background-color: var(--white);
  position: absolute;
}
.hamburgerInner::before,
.hamburgerInner::after {
  content: "";
  display: block;
}
.hamburgerInner::before {
  top: -5px;
}
.hamburgerInner::after {
  bottom: -5px;
}

.hamburgerCollapse .hamburgerInner {
  top: auto;
  bottom: 0;
  transition-duration: 0.09s;
  transition-delay: 0.09s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburgerCollapse .hamburgerInner::after {
  top: -10px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburgerCollapse .hamburgerInner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.09s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburgerCollapse.isActive .hamburgerInner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburgerCollapse.isActive .hamburgerInner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburgerCollapse.isActive .hamburgerInner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.09s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
