.root,
.rootAlt {
  padding: 60px 0;
  position: relative;
}

.root {
  background-color: var(--white);
}

.rootAlt {
  background: var(--bg-primary);
}

.rootAlt h2 {
  text-align: right;
}

.root::after,
.rootAlt::after {
  content: "";
  background: var(--dark);
  position: absolute;
  top: 150px;
  left: 0;
  width: calc(50vw - 600px);
  height: 1px;
}

.rootAlt::after {
  left: auto;
  right: 0;
}

.grid {
  display: grid;
  grid-template-columns: 60% 40%;
}

.gridAlt {
  grid-template-columns: 40% 60%;
}

.image img {
  width: 100%;
  border: 6px outset var(--purple-2);
  border-radius: 3px;
}

.imageAlt {
  order: 1;
}

.text {
  padding-top: 65px;
  padding-right: 30px;
  color: var(--dark);
}

.textAlt {
  order: 2;
  padding-right: 0;
  padding-left: 30px;
}

.textAlt p {
  text-align: justify;
}

@media (max-width: 767px) {
  .grid,
  .gridAlt {
    grid-template-columns: 100%;
  }

  .gridAlt .text {
    order: 1;
  }

  .gridAlt .img {
    order: 2;
  }

  .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .text,
  .textAlt {
    padding: 0;
  }
  .textAlt h2,
  .textAlt p {
    text-align: left;
  }
}
