.root {
  background: var(--bg-secondary);
  background-position: center 60px;
  background-attachment: fixed;
  padding: 65px 0 65px;
  display: flex;
}

@media (min-width: 768px) {
  .root {
    min-height: 100vh;
  }
}

.root::after {
  content: "";
  background: var(--dark);
  position: absolute;
  top: 290px;
  left: 0;
  width: calc(50vw - 600px);
  height: 1px;
}

.bgImage {
  background-image: url("../../../assets/michael-tandy/1.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  position: relative;
  margin-top: 155px;
  padding: 20px;
  z-index: 1;
  width: 70%;
  color: var(--purple-1);
  background: rgba(255, 255, 255, 0.9);
  border: 6px outset var(--purple-1);
}

@media (min-width: 768px) {
  .text {
    margin-left: -20px;
    margin-top: 180px;
  }
}

.text h1 {
  color: var(--dark);
  background: var(--text-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.text p {
  font-weight: 600;
  color: var(--dark);
}

@media (max-width: 767px) {
  .text {
    width: 100%;
  }
  .bgImage {
    display: none;
  }
}

.title {
  font-family: var(--font-primary);
}

@media (max-width: 470px) {
  .title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 250px) {
  .title {
    font-size: 1.5rem;
  }
}

.image {
  position: absolute;
  right: 0;
  top: 120px;
  height: 70vh;
}

@media (max-width: 991px) {
  .image {
    height: auto;
    width: 100%;
    top: 65px;
  }
}
