.root {
  background-color: var(--dark);
  padding-top: 65px;
  display: flex;
  height: 100vh;
}

.root::after {
  content: "";
  background: var(--grey);
  position: absolute;
  top: 290px;
  left: 0;
  width: calc(50vw - 600px);
  height: 1px;
}

.bgImage {
  background-image: url("../../../assets/washington-1.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50vw;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  height: 100%;
  position: relative;
  padding-top: 200px;
  z-index: 1;
  width: 60%;
  height: 100vh;
  color: var(--white);
}

.text h1,
.text p {
  text-shadow: 2px 2px 0 var(--black), 2px -2px 0 var(--black),
    -2px 2px 0 var(--black), -2px -2px 0 var(--black), 2px 0px 0 var(--black),
    0px 2px 0 var(--black), -2px 0px 0 var(--black), 0px -2px 0 var(--black);
}

.text p {
  font-weight: 600;
}

@media (max-width: 767px) {
  .text {
    width: 100%;
  }
  .bgImage {
    width: 70vw;
  }
}

.title {
  font-family: var(--font-display);
}

@media (max-width: 470px) {
  .title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media (max-width: 250px) {
  .title {
    font-size: 1.5rem;
  }
}

.image {
  position: absolute;
  right: 0;
  top: 120px;
  height: 70vh;
}

@media (max-width: 991px) {
  .image {
    height: auto;
    width: 100%;
    top: 65px;
  }
}
