.itemsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .itemsContainer {
    justify-content: center;
  }
}

.image {
  cursor: url("../../../assets/cursors/cursor-pointer.png"), auto;
  width: 342px;
  height: 454px;
}

.image:active {
  cursor: url("../../../assets/cursors/cursor-pointer-small.png"), auto;
}
