.root {
  padding: 160px 0 40px;
}

@media (max-width: 991px) {
  .root {
    padding: 190px 0 0;
  }
}

.root h2 {
  margin-bottom: 30px;
}

.root h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.intro {
  margin-bottom: 44px;
}
