.video-js .vjs-big-play-button {
  background: var(--bg-secondary);
  border: 2px outset var(--purple-2);
}

.video-js .vjs-big-play-button:active {
  border: 2px inset var(--purple-2);
}

.video-js .vjs-control-bar {
  background: rgba(206, 187, 255, 0.6);
}

.video-js .vjs-big-play-button {
  cursor: url("../../../../assets//cursors/cursor-pointer.png"), auto;
}

.video-js .vjs-big-play-button:active {
  cursor: url("../../../../assets//cursors/cursor-pointer-small.png"), auto;
}

.video-js:hover .vjs-big-play-button,
.video-js:focus .vjs-big-play-button,
.video-js:active .vjs-big-play-button {
  border-color: var(--purple-2);
}
