.banner > div {
  background-color: rgba(169, 23, 227, 0.6);
  background-blend-mode: multiply;
}

.banner2 > div {
  background-color: rgb(105, 3, 146);
  background-blend-mode: saturation;
}

.banner3 > div {
  background-color: rgba(169, 23, 227, 0.8);
  background-blend-mode: darken;
}
