.link {
  color: var(--action);
  text-decoration: underline;
}

.linkAlt {
  color: var(--action-alt);
  text-decoration: underline;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--action-dark);
}

.linkAlt:hover,
.linkAlt:focus,
.linkAlt:active {
  color: var(--action-dark);
}
