.root {
  padding: 30px;
  background: var(--bg-primary);
  margin-bottom: 80px;
  position: relative;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  text-align: justify;
}

@media (max-width: 991px) {
  .description {
    grid-template-columns: 1fr;
  }
}

.technologies {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.technologies li {
  flex-grow: 1;
}

.repos {
  list-style: disc;
}

.repos li {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 20px;
  margin-left: 25px;
}

.star {
  font-size: 3rem;
  position: absolute;
  top: 30px;
  right: 30px;
}

@media (max-width: 575px) {
  .star {
    display: none;
  }
}
