.root {
  padding: 160px 0 120px;
}

.root a {
  color: var(--action);
}

.root a:hover,
.root a:focus,
.root a:active {
  text-decoration: underline;
  color: var(--action-dark);
}

.root ul {
  margin-bottom: 16px;
  list-style: disc;
  margin-left: 25px;
}

.root h2 {
  font-size: 1.6rem;
}
