.root {
  color: var(--action);
  text-decoration: underline;
}

.rootAlt {
  color: var(--action-alt);
  text-decoration: underline;
}

@media (max-width: 991px) {
  .rootAlt {
    color: var(--dark);
  }
}

.root:hover,
.root:focus,
.root:active {
  color: var(--action-dark);
}

.rootAlt:hover,
.rootAlt:focus,
.rootAlt:active {
  color: var(--action-dark);
}

.content {
  display: flex;
  align-items: center;
}

.arrow {
  font-size: 1.6rem;
  transition: all 0.2s;
}

.root:hover .arrow,
.rootAlt:hover .arrow {
  margin-left: 10px;
}
