@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
  /* colours */
  --white: #fff;
  --black: #000;
  --grey: #a3a3a3;
  --dark: #1d1e1e;
  --grey-dark: #808080;
  --text-dark: #444;
  --danger: #d9534f;
  --success: #3d9f54;
  --warning: #a68e3f;
  --danger-light: #ffd8d7;
  --success-light: #d5ffdf;
  --warning-light: #fff5d3;
  --action: #0087ff;
  --action-light: #6caee8;
  --action-light-2: #b4d1ea;
  --success-medium: #60e37e;
  --success-gradient: linear-gradient(
    38deg,
    rgba(96, 227, 126, 1) 0%,
    rgba(61, 159, 84, 1) 100%
  );
  --action-gradient: linear-gradient(
    259deg,
    rgba(0, 135, 255, 1) 0%,
    rgba(175, 0, 255, 1) 100%
  );
  --danger-gradient: linear-gradient(
    259deg,
    rgba(217, 83, 79, 1) 0%,
    rgb(235, 129, 126) 100%
  );
  --grey-gradient: linear-gradient(
    38deg,
    rgba(245, 245, 245, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  /* fonts */
  --font-primary: "Montserrat", sans-serif;
  --font-display: "Dela Gothic One", sans-serif;
}

/* Reset default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset anchor styles */
a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 16px;
}

strong {
  font-weight: 700;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
  background-attachment: fixed;
  font-size: 1rem;
  line-height: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  font-family: var(--font-display);
}

h2 {
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-family: var(--font-display);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
