.nav {
  display: flex;
  padding: 30px 0;
  background: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  transition: padding 0.2s ease-in-out;
  z-index: 9999;
  border-bottom: 3px outset var(--theme-color-1);
  border-style: ridge;
}

@media (min-width: 768px) {
  .nav {
    background: rgba(255, 255, 255, 1);
  }
}

.logo {
  color: var(--dark);
}

.logo p {
  margin-bottom: 0;
}

.logo p:first-of-type {
  font-size: 1rem;
}

.logo p:last-of-type {
  font-size: 2rem;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .logo {
    max-width: 250px;
  }
}

.navScroll {
  padding: 8px 0 12px;
}

.navScroll .logo img {
  width: 90px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  font-size: 1.4rem;
  color: var(--dark);
  margin: 0;
}

.titleLink {
  display: flex;
  align-items: center;
  gap: 16px;
}

.list {
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--dark);
  font-weight: 600;
}

@media (max-width: 767px) {
  .list {
    width: 100%;
  }
}

.active {
  background: var(--grey-gradient);
}

.expanded {
  max-height: 100vh;
  transition: all 0.3s linear;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .collapsed {
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
  }
  .expanded {
    max-height: 100vh;
    height: 100vh;
    margin-top: 20vh;
  }
}

.toggle {
  position: absolute;
  right: 0;
  top: 30px;
  transition: all 0.3s;
}
